body{
    background: white;
    font-family: sans-serif;
}

.First-section{
    width: 100%;
    height: 100vh;
    padding: 100px;
}

section h1{
    color: #343a40;
    font-size: 25px;
    font-weight: 30px;
    text-align: center;
    padding: 40px;
    margin: auto;
}

section p{
    font-size: 17px;
    color: #6f42c1;
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 52%;
}

section a{
    text-decoration: none;
    color: #dc3545;
}

section .first-button{
    padding: 70px;
    width: 45%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section a #button-1{
    background-color: #dc3545;
    font-size: 17px;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px;
    }

    section #button-1 a{
        text-decoration: none;
    }

    section #button-1:hover{
        background-color: white;
        font-size: 17px;
        color: red;
        border: 1px solid red;
        padding: 15px;
        margin: 10px;
        }
    

section #button-2{
    background-color: transparent;
    font-size: 17px;
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 15px;
    margin: 10px;
}

.Second-section{
    padding-top: 100px;
    width: 100%;
    height: 100vh;
}

.Second-section p{
    color: red;
    font-size: 15px;
    font-weight: 15px;
}

.Second-section h2{
    color: #343a40;
    font-size: 22px;
    font-weight: 5px;
    text-align: center;
    margin: auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.Three-div1{
    background-color: rgb(230, 215, 217);
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-weight: 30px;
    color: white;
    align-items: center;
    width: 300px;
}

.Three-div2{
    background-color: rgb(230, 215, 217);
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-weight: 30px;
    color: white;
    align-items: center;
    width: 300px;
}

.Three-div3{
    background-color: rgb(230, 215, 217);
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-weight: 30px;
    color: white;
    align-items: center;
    width: 300px;
}

.Footer-1{
    background-color: white;
    display: flex;
    width: 100%;
    padding: 25px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}

.Foot1{
    width: 50px;
    padding: 20px;
    margin: 40px;
}

.Foot2{
    width: 100px;
    padding: 20px;
    margin: 40px;
}

.Foot3{
    width: 200px;
    padding: 10px;
    margin: 40px;
}

.Foot4{
    width: 100px;
    padding: 20px;
    margin: 40px;
}

.Foot5{
    width: 100px;
    padding: 20px;
    margin: 40px;
}

.Foot5 img{
    width: 20px;
}




































































